<section class="categories">
    <div class="categories__container _container">
        <div class="categories__tittle"><p>Будь в моде!</p></div>
        <hr align="center" width="80%" size="5" color="#111111">
        <div class="categories__row">
            <div class="categories__cart"></div>
            <div class="categories__cart"></div>
            <div class="categories__cart"></div>
            <div class="categories__cart"></div>
        </div>
        <div class="categories__row">
            <div class="categories__cart"></div>
            <div class="categories__cart"></div>
            <div class="categories__cart"></div>
            <div class="categories__cart"></div>
        </div>
    </div>
</section>