.header {
  background: url("../img/images3.jpg") no-repeat top center;
  height: 600px;

  &__container {
    height: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
    padding-top: 10px;
    @media (max-width: $md3) {
      flex:1 1 auto;
      justify-content: space-between;
    }
  }

  &__logo {
  }

  &__nav {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    list-style: none;
    padding: 0;

    li {
      margin: 0 20px;
      @media (max-width: 822px) {
        margin: 0 10px;
      }
    }

    @media (max-width: $md3) {
      visibility: hidden;
      display: none;
    }

    &__element {
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      transition: 0.3s;
      @media (min-width: 992px) {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__user {
    display: flex;
    align-items: center;
    justify-items: end;
    position: relative;

    &__basket {
      padding: 0 15px 0 0;
      @media (max-width: 930px) {
        display: none;
      }
    }

    &__icon {
      height: 40px;
      width: 40px;
      background: white;
      border-radius: 20px;
      margin: 0 15px 0 0;
      cursor: pointer;

      @media (max-width: $md3) {
        height: 50px;
        width: 50px;
        border-radius: 40px;
      }
    }

    &__logout {
      color: #fff;
      font-size: 17px;
      opacity: 0.7;
      text-decoration: none;
      @media (max-width: 930px) {
        display: none;
      }
    }

    &__menu {
      top: 50px;
      right: 0px;
      position: absolute;
      visibility: hidden;
      width: 150px;
      background-color: black;
      border-style: solid;
      border-width: 3px;
      border-color: dimgrey;
      opacity: 0;
      transition: opacity 0.3s ease 0s;
    }

    &__list {
      list-style: none;
      padding: 0px;

      li {
        margin: 10px 10px;
      }
    }

    &__elem {
      color: #fff;
      font-size: 15px;
      text-decoration: none;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
    flex: 1 1 auto;
    @media (max-width: $md3) {
      align-items: center;
      justify-content: center;
    }
  }

  &__tittle {
    margin: 0 0 15px 0;

    p {
      @include font-size(60px);
    }
  }

  &__sale {
    margin: 0 0 25px 0;

    p {
        @include font-size(40px);
    }
  }

  &__button {
    @extend %button;
    @media (max-width: $md3) {

    }
  }
}

.open {
  opacity: 1;
  visibility: visible;
}